<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Centro Calcio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h4 class="title">Centro Formazione : Calcio</h4>
    <form th:action="@{/homeAllievo}" method="GET"><button type="submit">Home Allievo</button></form>
	<form th:action="@{/cercaAllievo}"><button type="submit">Inserisci Partecipazione</button></form>
	<form th:action="@{/homeAttivita}" method="GET"><button type="submit">Home Attivita</button></form>
</body>
</html>