<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Lista Attivita</title>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4>Registra partecipazione Allievo</h4>
	</div>
	<div>
		<table>
			<tr>
				<th>Scegli tra le Attivita :</th>
			</tr>
			<tr th:each="attivita : ${listaAttivita}">
				<td><a th:href="@{'/findAttivitaId' + '/' + ${attivita.id}}">
						<span th:text="${attivita.descrizione}"></span> 
						Il <span th:text="${attivita.dataAttivita}"></span>
						Dalle <span th:text="${attivita.oraInizio}"></span> 
						Alle <span th:text="${attivita.oraFine}"></span>
				</a></td>
			</tr>
		</table>
	</div>
	<br>
</body>
</html>
