<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<head>
<title>Conferma Partecipazione</title>
<meta charset="UTF-8">
</head>
<body>
	<h4>Dati Partecipazione</h4>
	<form th:action="@{/savePartecipazione}" method="POST">
		<div>
			<p>Dati Allievo</p>
			<div>
				Nome : <span th:text="${allievo.nome}"></span>
			</div>
			<div>
				Cognome : <span th:text="${allievo.cognome}"></span>
			</div>
			<div>
				Email : <span th:text="${allievo.email}"></span>
			</div>
			<div>
				Telefono : <span th:text="${allievo.telefono}"></span>
			</div>
			<div>
				Data di Nascita : <span th:text="${allievo.dataNascita}"></span>
			</div>
			<div>
				Luogo di Nascita : <span th:text="${allievo.luogoNascita}"></span>
			</div>

			<p>Dati Attivita</p>
			<div>
				Descrizione : <span th:text="${attivita.descrizione}"></span>
			</div>
			<div>
				Prezzo : <span th:text="${attivita.prezzo}"></span>
			</div>
			<div>
				Centro Formazione : <span th:text="${attivita.centroFormazione}"></span>
			</div>
			<div>
				Ora Inizio : <span th:text="${attivita.oraInizio}"></span>
			</div>
			<div>
				Ora Fine : <span th:text="${attivita.oraFine}"></span>
			</div>
		</div>
		<button type="submit">Registra</button>
	</form>
</body>
</html>