<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Partecipazione</title>
</head>
<body>
	<div>
		<h4>Registra partecipazione Allievo</h4>
		<p th:text="${notexists}" />
	</div>
	<div>
		<form th:action="@{/findAllievo}" method="GET">
			<p th:text="${notexistsAllievo}" />
			Dati Allievo : <br> Nome : <input type="text" name="nome" />
			Cognome : <input type="text" name="cognome" />
			<button type="submit">Cerca Allievo</button>
		</form>
	</div>
	<div>
		Dati Attivita : <br> Descrizione : <input type="text"
			name="descrizione" /> Ora Inizio : <input type="time"
			name="oraInizio" /> Ora Fine : <input type="time" name="oraFine" />
	</div>
	<br>
	<form th:action="@{/inserisciPartecipazione}" method="POST">
		<button type="submit">Registra Partecipazione</button>
	</form>
</body>
</html>