<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Partecipazione</title>
</head>
<body>
	<h4>Dati Partecipazione Registrati</h4>
	Allievo :
	<div>
		Nome : <span th:text="${allievo.nome}"></span>
	</div>
	<div>
		Cognome : <span th:text="${allievo.cognome}"></span>
	</div>
	Attivita :
	<div>
		Descrizione : <span th:text="${attivitaTrovata.descrizione}"></span>
	</div>
	<div>
		Prezzo : <span th:text="${attivitaTrovata.prezzo}"></span>
	</div>
	<div>
		Centro Formazione : <span
			th:text="${attivitaTrovata.centroFormazione}"></span>
	</div>
</body>
</html>