<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Modifica Centri Formazione</title>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Centro Formazione</h4>
	</div>
	<form th:action="@{'/updateCentroFormazione' + '/' + ${centroFormazioneTrovato.id}}" method="POST" th:object="${centroFormazioneTrovato}">
		<table>
			<tr>
				<td>Nome :</td>
				<td><input type="text" th:field="*{nome}" value="${centroFormazioneTrovato.nome}"/></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Indirizzo :</td>
				<td><input type="text" th:field="*{indirizzo}" value="${centroFormazioneTrovato.indirizzo}"/></td>
				<td th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}"></td>
			</tr>

			<tr>
				<td>Email :</td>
				<td><input type="text" th:field="*{email}" value="${centroFormazioneTrovato.email}"/></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
			</tr>

			<tr>
				<td>Telefono :</td>
				<td><input type="text" th:field="*{telefono}" value="${centroFormazioneTrovato.telefono}"/></td>
				<td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></td>
			</tr>

			<tr>
				<td>Capienza Massima :</td>
				<td><input type="number" th:field="*{capienzaMassima}" value="${centroFormazioneTrovato.capienzaMassima}"/></td>
				<td th:if="${#fields.hasErrors('capienzaMassima')}" th:errors="*{capienzaMassima}"></td>
			</tr>
			<tr>
				<td><button type="submit">Update CentroFormazione</button></td>
			</tr>
		</table>
	</form>
</body>
</html>