
 
 
 #inizio {
      position: relative;
      left: 50%;
      top: 0%;
}



#inizio .noiscrizione {
      position: relative;
      left: -590px;
      top: 10px;
      width: 800px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      color: black;
}




/********************************/

 #Persone {
      position: relative;
      left: 50%;
      top: 5px;
}




/* definisce la larghezza e il padding top e left dei fields I TUOI DATI DI ACCESSO e EMAIL  */
#Persone body {
  position: relative;
  font-family: 'Palatino Linotype', serif;
  margin-top: 190px;
  max-width: 550px;
  max-height: 100px;
  padding: 50px 220px;
  border-style: none;
}



#Persone fieldset {
  position: relative;  
  left: -590px;
  top: -15px;
  margin-bottom: 15px;
  padding: 10px; 
  width: 300px;
  
  border-style: none;
}




#Persone input, textarea {
  width: 400px;
  height: 20px;
  padding: 15px;
  margin: 5px 0 22px 0;
  font-size: 21px;
  	 border: 1px solid black ;
    border-radius: 8px;
	background: #f1f1f1;
}






#Persone input[type=submit] {
  width: 150px;
  padding: 10px;
}



#Persone .button {
      position: relative;
      left: 0px;
      top: 50px;
      width: 200px;
      height: 50px;
      font-family: Helvetica;
      font-style: normal;
      font-size: 22px;
      text-decoration: none;
      background: #004080;
      color: white;
      font-weight: normal;
      border-radius: 0px 0px 0px 0px;
      border-width: 1px;
      border-style: normal;
      z-index:5;
}



/*********************************************************/

 #fine {
      position: relative;
      left: 50%;
      top: 0%;
}




 #fine p {
      position: relative;
      top: -160px;
      width: 380px;
      left: -560px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: black;
      text-align: justify;
}
/**********************************************************/

#back{
	position: relative;
      left: 50%;
      top: 0%;
}

#back button{
	 position: relative;
      left: -370px;
      top: -35px;
      width: 200px;
      height: 50px;
      font-family: Helvetica;
      font-style: normal;
      font-size: 22px;
      text-decoration: none;
      background: #004080;
      color: white;
      font-weight: normal;
      border-radius: 0px 0px 0px 0px;
      border-width: 1px;
      border-style: normal;
      z-index:5;
}


/*********************************************************/

/* presenta l'immagine di background della pagina Le Persone */	

body {
        background-image: url(LePersone.jpg);
        background-repeat: no-repeat;
        background-position: 50% 70%; 
        position: relative; 
}


a:hover {
     text-decoration: underline;
}