<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Cancellazione Attivita</title>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Cancellato con Successo</h4>
	</div>
	<form th:action="@{/listaAttivita}"><button type="submit">Lista Tutti Attivita</button></form>
	<form th:action="@{/homeAttivita}" method="GET"><button type="submit">Gestione Attivita</button></form>
</body>
</html>