<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestione Attivita</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h4 class="title">Gestione Attivita</h4>
    <form th:action="@{/inserisciAttivita}"><button type="submit">Inserisci Nuova Attivita</button></form>
    <form th:action="@{/cercaAttivita}"><button type="submit">Cerca Attivita</button></form>
    <form th:action="@{/listaAttivita}"><button type="submit">Lista Tutti Attivita</button></form>
</body>
</html>