<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Attivita</title>
</head>
<body>
	<div>
		<h4 class="title">Dati Attivita</h4>
		<div>
			Descrizione : <span th:text="${attivita.descrizione}"></span>
		</div>
		<div>
			Prezzo : <span th:text="${attivita.prezzo}"></span>
		</div>
		<div>
			Centro Formazione : <span th:text="${attivita.centroFormazione}"></span>
		</div>
		<div>
			Ora Inizio : <span th:text="${attivita.oraInizio}"></span>
		</div>
		<div>
			Ora Fine : <span th:text="${attivita.oraFine}"></span>
		</div>
		<br>
		<form th:action="@{'/modificaAttivita' + '/' + ${attivita.id}}"><button type="submit">Modifica Attivita</button></form>
		<form th:action="@{'/cancellaAttivita' + '/' + ${attivita.id}}"><button type="submit">Cancella Attivita</button></form>
		<form th:action="@{/inserisciAttivita}"><button type="submit">Inserisci Nuovo Attivita</button></form>
		<form th:action="@{/listaAttivita}"><button type="submit">Lista Tutti Attivita</button></form>
		<form th:action="@{/homeAttivita}" method="GET"><button type="submit">Gestione Attivita</button></form>
	</div>
</body>
</html>