<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Ricerca Allievo</title>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Cerca Allievo</h4>
		<p th:text="${notexists}"></p>
	</div>
	<form th:action="@{/findAllievo}" method="GET">
		<table>
			<tr>
				<td>Email :</td>
				<td><input type="text" name="email"/></td>
			</tr>
			<tr>
				<td><button type="submit">Cerca Allievo</button></td>
			</tr>
		</table>
	</form>
	<br>
	<form th:action="@{/inserisciAllievo}"><button type="submit">Inserisci Nuovo Allievo</button></form>
	<form th:action="@{/homeAllievo}"><button type="submit">Gestione Allievi</button></form>
</body>
</html>