<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestione Allievi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h4 class="title">Gestione Allievi</h4>
    <form th:action="@{/inserisciAllievo}"><button type="submit">Inserisci Nuovo Allievo</button></form>
    <form th:action="@{/cercaAllievo}"><button type="submit">Cerca Allievo</button></form>
    <form th:action="@{/listaAllievi}"><button type="submit">Lista Tutti Allievi</button></form>
</body>
</html>