<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Allievo</title>
</head>
<body>
	<div>
		<h4 class="title">Allievo</h4>
		<div>
			Nome : <span th:text="${allievoTrovato.nome}"></span>
		</div>
		<div>
			Cognome : <span th:text="${allievoTrovato.cognome}"></span>
		</div>
		<div>
			Email : <span th:text="${allievoTrovato.email}"></span>
		</div>
		<div>
			Telefono : <span th:text="${allievoTrovato.telefono}"></span>
		</div>
		<div>
			Data di Nascita : <span th:text="${allievoTrovato.dataNascita}"></span>
		</div>
		<div>
			Luogo di Nascita : <span th:text="${allievoTrovato.luogoNascita}"></span>
		</div>
		<br>
		<form th:action="@{'/modificaAllievo' + '/' + ${allievoTrovato.id}}"><button type="submit">Modifica Allievo</button></form>
		<form th:action="@{'/cancellaAllievo' + '/' + ${allievoTrovato.id}}"><button type="submit">Cancella Allievo</button></form>
		<form th:action="@{/inserisciAllievo}"><button type="submit">Inserisci Nuovo Allievo</button></form>
		<form th:action="@{/listaAllievi}"><button type="submit">Lista Tutti Allievi</button></form>
		<form th:action="@{/homeAllievo}" method="GET"><button type="submit">Gestione Allievi</button></form>
	</div>
</body>
</html>