<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Allievi</title>
</head>
<body>
	<div>
		<h4>Allievi</h4>
		<div>
			<table>
				<tr>
					<th>Nome</th>
				</tr>
				<tr th:each="allievo : ${allievi}">
					<td><a th:href="@{'/allievo' + '/' + ${allievo.id}}"> <span
							th:text="${allievo.nome}"></span> <span
							th:text="${allievo.cognome}"></span></a></td>
				</tr>
			</table>
		</div>
		<br>
		<a th:href="@{/addAllievo}">Inserisci Nuovo Allievo</a>
		<a th:href="index">Home</a>
	</div>
</body>
</html>
