<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/homeAllievo}" method="GET"><button type="submit">Gestione Allievo</button></form>
	<form th:action="@{/homeAttivita}" method="GET"><button type="submit">Gestione Attivita</button></form>
	<form th:action="@{/settaCentroFormazione}" method="GET"><button type="submit">Gestione Centro Formazione</button></form>
</body>
</html>