<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h4 class="title">Home</h4>
	</div>
	<br>
	<form th:action="@{/login}" method="POST"><button type="submit">Login</button></form>
	<form th:action="@{/homeAllievo}" method="GET"><button type="submit">Home Allievo</button></form>
	<form th:action="@{/cercaAllievo}"><button type="submit">Inserisci Partecipazione</button></form>
	<form th:action="@{/homeAttivita}" method="GET"><button type="submit">Home Attivita</button></form>
	<form th:action="@{/amministrazione}"><button type="submit">Amministrazione</button></form>
</body>
</html>