<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Security</title>
</head>
<body>
	<div>
		<h2>Accedi</h2>
		<p th:text="${noEsiste}" />
		<div>
			<form name="f" th:action="@{/login2}" method="get">
				<div>
					<label>Email : <input type="text" name="username" /><span
						th:text=" ${errorParam}"></span></label>
				</div>
				<div>
					<label>Password: <input type="password" name="password" /><span
						th:text=" ${errorParam}"></span></label>
				</div>
				<button type="submit" class="btn">Log in</button>
			</form>
		</div>
	</div>
</body>
</html>