<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Lista Centri</title>
</head>
<body>
	<div>
		<h4 class="title">Centri Formazione</h4>
		<div>
			<table>
				<tr>
					<th>Nome : </th>
				</tr>
				<tr th:each="centroFormazione : ${listaCentriFormazione}">
					<td><a th:href="@{'/setCentroFormazioneId' + '/' + ${centroFormazione.id}}">
						<span th:text="${centroFormazione.nome}"></span>
						<span th:text="${centroFormazione.indirizzo}"></span></a></td>
				</tr>
			</table>
		</div>
		<br>
		<form th:action="@{/homeCentroFormazione}" method="GET"><button type="submit">Gestione Centri Formazione</button></form>
	</div>
</body>
</html>
